/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_06_25_24_13_08_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_06_25_24_13_08__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
